<h3>Proceso de inscripción</h3>

<hr>

<h4>Requisitos</h4>

<ul class="prerequisites">
    <li>Original y 2 copias del acta de nacimiento.</li>
    <li>Original y 2 copias del certificado de secundaria.</li>
    <li>6 fotografías iguales y recientes, tamaño infantil a color o blanco y negro.</li>
    <li>2 copias de la CURP.</li>
    <li>2 copias del comprobante de domicilio vigente.</li>
    <li>2 copias del carnet de afiliación (IMSS, ISSSTE, SEDENA, SEMAR).</li>
</ul>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <i class="fa fa-map-marker" aria-hidden="true" style="color: rgb(2, 145, 9);"></i> Región 228, Mz. 05, Lote 01, Zona VI, Av. 20 de Noviembre por la calle 61, C.P. 77516, Cancún, Q.R.
    </li>
    <li class="list-group-item">
        <i class="fa fa-phone" aria-hidden="true" style="color: rgb(2, 145, 9);"></i> (01 998) 8432231 y 2710194 ~ No WhatsApp.
    </li>
    <li class="list-group-item">
        <i class="fa fa-envelope-square" aria-hidden="true" style="color: rgb(2, 145, 9);"></i> plantel_cancunii@qroo.conalep.edu.mx
    </li>
    <li class="list-group-item">
        <i class="fa fa-globe" aria-hidden="true" style="color: rgb(2, 145, 9);"></i> www.conalepquintanaroo.edu.mx
    </li>
</ul>